<settings>
  <id>SettingsInfoImpl-5a7dcb68:17a0a37da44:-7ffd</id>
  <workspace>
    <id>WorkspaceInfoImpl-5a7dcb68:17a0a37da44:-7fff</id>
    <name>mojProjekt</name>
    <isolated>false</isolated>
    <dateCreated>2021-06-14 11:38:55.208 UTC</dateCreated>
    <dateModified>2021-06-14 11:39:53.705 UTC</dateModified>
  </workspace>
  <contact>
    <id>contact</id>
    <addressCity>Alexandria</addressCity>
    <addressCountry>Egypt</addressCountry>
    <addressType>Work</addressType>
    <contactEmail>claudius.ptolomaeus@gmail.com</contactEmail>
    <contactOrganization>The Ancient Geographers</contactOrganization>
    <contactPerson>Claudius Ptolomaeus</contactPerson>
    <contactPosition>Chief Geographer</contactPosition>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>8</numDecimals>
  <onlineResource>http://geoserver.org</onlineResource>
  <verbose>false</verbose>
  <verboseExceptions>false</verboseExceptions>
  <metadata>
    <map>
      <entry>
        <string>quietOnNotFound</string>
        <boolean>false</boolean>
      </entry>
    </map>
  </metadata>
  <localWorkspaceIncludesPrefix>false</localWorkspaceIncludesPrefix>
  <showCreatedTimeColumnsInAdminList>false</showCreatedTimeColumnsInAdminList>
  <showModifiedTimeColumnsInAdminList>false</showModifiedTimeColumnsInAdminList>
</settings>